useDynLib(BEANSP)
export(nestsr)
S3method(plot,trace1)
S3method(plot,trace2)
S3method(plot,trace3)
S3method(plot,trace4)
S3method(plot,del)
S3method(plot,q)
S3method(plot,sr)
S3method(plot,asr)
S3method(plot,casr)
exportPattern("^[[:alpha:]]+")
